bone_features.csv
voting_threshold.csv
test_set.csv
expert.csv
notebooks/
migrations/             
bone_qa/
figures/
output/
bone_raw/                       
__pycache__/
.DS_Store
.ipynb_checkpoints/
data_dir/
spreadsheets/
.idea
