[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nibabel = "*"
jupyter = "*"

scipy = {version = "==1.1.0"}
tensorflow = {version = "==1.14.0"}
tensorflow-gpu = {version = "<1.13.0"}
keras_applications = "*"
keras = "*"
efficientnet = "*"

pillow = "*"
yapf = "*"
pynrrd = "*"
matplotlib = "*"
ants = "*"
django = "*"
gevent = "*"
pandas = "*"
numpy = {version = "<1.18"}
webcolors = "*"
simpleitk = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask = "*"
seaborn = "*"
papermill = {version = "==0.10.1"}
tqdm = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
